extends layout

block content
  ul(class='percentBar')
  div(id='percent')
  ul(class='menuBar')
  h1(class='top') Political Typology Quiz
  h3 An unscientific questionaire
  ul
  div(class='main')
    div(class='header')
    div(class='mainText')
      h2 The page will add questions that are tailored to your initial answer choices while you take the quiz. You can make changes to your answers and resubmit for a new determination. Changes to earlier answers may reset later answers. The order of answer choices is randomized each time the page is loaded.
      br
      br
      div(class = 'section' id='location1') Loading...
      div(class = 'section' id='location2')
      div(class = 'section' id='location3')
      div(class = 'section'  id='location4')
      div(class = 'section2'  id='tiebreakerLocation')
      div(class = 'section2'  id='newLocation1')
      div(class = 'section2'  id='newLocation2')
      div(class = 'section2'  id='newLocation3')
      div(class = 'section2'  id='newLocation4')
      div(class = 'section2'  id='newLocation5')
      div(class = 'section2'  id='newLocation6')
      div(class = 'section2'  id='newLocation7')
      div(class = 'section2'  id='newLocation8')
      div(id='submitButton')
      div(id='results')
      br
      br
